@model IEnumerable<WebApplication13.Models.LoaiSP>

@{

    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div style="width:100%;">
                    <div class="table-responsive ">
                        <hr class="border-cyan" />

                        <h5 class="card-title; text-center" style="font-size:30px; color:red">Thanh Toán</h5>
                        <hr class="border-cyan" />
                        <table class="table color-bordered-table red-bordered-table ">
                            <thead style="color:red;" class="mt-1">

                                <tr>
                                    <th>
                                        Mã Loại
                                    </th>
                                    <th>
                                        Tên Loại
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.LoaiSPId
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenLoai)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.LoaiSPId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.LoaiSPId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.LoaiSPId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
   

    
  
