@model WebApplication13.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<div>
   
    <div class="row w-100">
        <div class="col-md-10 ml-md-5 ">
            <div class="card ml-md-5">
                <form class="form-horizontal"></form>
            </div>
            <div class="card ml-md-5">
                <div class="card-body">
                    @using (Html.BeginForm("ThemSP", "SanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="text-center" style="color:orangered">
                            <h4>Thêm Sản Phẩm</h4>
                        </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.TenSP)

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Số Lượng", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.SoLuong)

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Mô Tả Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.MoTa)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Loại Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.LoaiSP.TenLoai)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 ">
                                <input type="submit" value="Thêm Sản Phẩm" class="btn btn-default float-md-right" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SanPhamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
